@font-face {
    font-family: 'HotSchedules-Font';
    src:    url('fonts/HotSchedules-Font.eot?ashu1j');
    src:    url('fonts/HotSchedules-Font.eot?ashu1j#iefix') format('embedded-opentype'),
    url('fonts/HotSchedules-Font.woff2?ashu1j') format('woff2'),
    url('fonts/HotSchedules-Font.ttf?ashu1j') format('truetype'),
    url('fonts/HotSchedules-Font.woff?ashu1j') format('woff'),
    url('fonts/HotSchedules-Font.svg?ashu1j#HotSchedules-Font') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ico.request_off:before {
    content: "\e912";
}
.ico.request_to_work:before {
    content: "\e913";
}
.ico.blocked_day:before {
    content: "\e914";
}
.ico.date_range:before {
    content: "\e90e";
}
.ico.chart_legend_line:before {
    content: "\e919";
}
.ico.chart_legend_wave:before {
    content: "\e91a";
}
.ico.data:before {
    content: "\e91b";
}
.ico.line_chart:before {
    content: "\e91c";
}
.ico.cake:before {
    content: "\e918";
}
.ico.column_open:before {
    content: "\e916";
}
.ico.column_close:before {
    content: "\e917";
}
.ico.read:before {
    content: "\e915";
}
.ico.sortable:before {
    content: "\e911";
}
.ico.double_chevron_left:before {
    content: "\e90f";
}
.ico.double_chevron_right:before {
    content: "\e910";
}
.ico.subscribe:before {
    content: "\e90d";
}
.ico.priority_critical:before {
    content: "\e909";
}
.ico.priority_high:before {
    content: "\e90a";
}
.ico.priority_normal:before {
    content: "\e90b";
}
.ico.priority_low:before {
    content: "\e90c";
}
.ico.file_pdf:before {
    content: "\e900";
}
.ico.calendar:before {
    content: "\e901";
}
.ico.file_keynote:before {
    content: "\e902";
}
.ico.file_numbers:before {
    content: "\e903";
}
.ico.file_powerpoint:before {
    content: "\e904";
}
.ico.file_xcel:before {
    content: "\e905";
}
.ico.file_word:before {
    content: "\e906";
}
.ico.file_text:before {
    content: "\e907";
}
.ico.file_generic:before {
    content: "\e908";
}
.ico.error:before {
    content: "\e000";
}
.ico.error_outline:before {
    content: "\e001";
}
.ico.warning:before {
    content: "\e002";
}
.ico.add_alert:before {
    content: "\e003";
}
.ico.equalizer:before {
    content: "\e007";
}
.ico.fast_forward:before {
    content: "\e009";
}
.ico.fast_rewind:before {
    content: "\e00a";
}
.ico.loop:before {
    content: "\e00e";
}
.ico.library_add:before {
    content: "\e013";
}
.ico.new_releases:before {
    content: "\e016";
}
.ico.not_interested:before {
    content: "\e017";
}
.ico.pause:before {
    content: "\e018";
}
.ico.play_arrow:before {
    content: "\e01b";
}
.ico.play_circle_filled:before {
    content: "\e01c";
}
.ico.play_circle_outline:before {
    content: "\e01d";
}
.ico.playlist_add:before {
    content: "\e01e";
}
.ico.queue:before {
    content: "\e01f";
}
.ico.replay:before {
    content: "\e025";
}
.ico.skip_next:before {
    content: "\e027";
}
.ico.skip_previous:before {
    content: "\e028";
}
.ico.snooze:before {
    content: "\e029";
}
.ico.business:before {
    content: "\e03e";
}
.ico.call:before {
    content: "\e03f";
}
.ico.chat:before {
    content: "\e046";
}
.ico.comment:before {
    content: "\e048";
}
.ico.email:before {
    content: "\e04c";
}
.ico.forum:before {
    content: "\e04d";
}
.ico.import_export:before {
    content: "\e04e";
}
.ico.live_help:before {
    content: "\e050";
}
.ico.location_on:before {
    content: "\e052";
}
.ico.message:before {
    content: "\e053";
}
.ico.chat_bubble:before {
    content: "\e054";
}
.ico.chat_bubble_outline:before {
    content: "\e055";
}
.ico.textsms:before {
    content: "\e061";
}
.ico.vpn_key:before {
    content: "\e063";
}
.ico.add:before {
    content: "\e069";
}
.ico.add_box:before {
    content: "\e06a";
}
.ico.add_circle:before {
    content: "\e06b";
}
.ico.add_circle_outline:before {
    content: "\e06c";
}
.ico.archive:before {
    content: "\e06d";
}
.ico.backspace:before {
    content: "\e06e";
}
.ico.block:before {
    content: "\e06f";
}
.ico.clear:before {
    content: "\e070";
}
.ico.content_copy:before {
    content: "\e071";
}
.ico.content_cut:before {
    content: "\e072";
}
.ico.content_paste:before {
    content: "\e073";
}
.ico.create:before {
    content: "\e074";
}
.ico.drafts:before {
    content: "\e075";
}
.ico.filter_list:before {
    content: "\e076";
}
.ico.flag:before {
    content: "\e077";
}
.ico.forward:before {
    content: "\e078";
}
.ico.mail:before {
    content: "\e07c";
}
.ico.redo:before {
    content: "\e07e";
}
.ico.remove:before {
    content: "\e07f";
}
.ico.remove_circle:before {
    content: "\e080";
}
.ico.remove_circle_outline:before {
    content: "\e081";
}
.ico.reply:before {
    content: "\e082";
}
.ico.reply_all:before {
    content: "\e083";
}
.ico.report:before {
    content: "\e084";
}
.ico.save:before {
    content: "\e085";
}
.ico.select_all:before {
    content: "\e086";
}
.ico.send:before {
    content: "\e087";
}
.ico.sort:before {
    content: "\e088";
}
.ico.text_format:before {
    content: "\e089";
}
.ico.undo:before {
    content: "\e08a";
}
.ico.access_alarm:before {
    content: "\e08c";
}
.ico.access_time:before {
    content: "\e08e";
}
.ico.add_alarm:before {
    content: "\e08f";
}
.ico.bluetooth:before {
    content: "\e097";
}
.ico.network_wifi:before {
    content: "\e0aa";
}
.ico.now_widgets:before {
    content: "\e0ad";
}
.ico.settings_system_daydream:before {
    content: "\e0b3";
}
.ico.signal_cellular_4_bar:before {
    content: "\e0b4";
}
.ico.signal_cellular_no_sim:before {
    content: "\e0b6";
}
.ico.signal_cellular_null:before {
    content: "\e0b7";
}
.ico.storage:before {
    content: "\e0bc";
}
.ico.attach_file:before {
    content: "\e0c0";
}
.ico.border_color:before {
    content: "\e0c5";
}
.ico.format_align_center:before {
    content: "\e0ce";
}
.ico.format_align_justify:before {
    content: "\e0cf";
}
.ico.format_align_left:before {
    content: "\e0d0";
}
.ico.format_quote:before {
    content: "\e0de";
}
.ico.insert_chart:before {
    content: "\e0e5";
}
.ico.insert_comment:before {
    content: "\e0e6";
}
.ico.insert_drive_file:before {
    content: "\e0e7";
}
.ico.insert_invitation:before {
    content: "\e0e9";
}
.ico.insert_photo:before {
    content: "\e0eb";
}
.ico.mode_comment:before {
    content: "\e0ed";
}
.ico.mode_edit:before {
    content: "\e0ee";
}
.ico.attachment:before {
    content: "\e0f7";
}
.ico.cloud:before {
    content: "\e0f8";
}
.ico.cloud_circle:before {
    content: "\e0f9";
}
.ico.cloud_done:before {
    content: "\e0fa";
}
.ico.cloud_download:before {
    content: "\e0fb";
}
.ico.cloud_off:before {
    content: "\e0fc";
}
.ico.cloud_queue:before {
    content: "\e0fd";
}
.ico.cloud_upload:before {
    content: "\e0fe";
}
.ico.file_download:before {
    content: "\e0ff";
}
.ico.file_upload:before {
    content: "\e100";
}
.ico.folder:before {
    content: "\e101";
}
.ico.folder_open:before {
    content: "\e102";
}
.ico.folder_shared:before {
    content: "\e103";
}
.ico.keyboard:before {
    content: "\e10e";
}
.ico.keyboard_arrow_down:before {
    content: "\e10f";
}
.ico.keyboard_arrow_left:before {
    content: "\e110";
}
.ico.keyboard_arrow_right:before {
    content: "\e111";
}
.ico.keyboard_arrow_up:before {
    content: "\e112";
}
.ico.keyboard_backspace:before {
    content: "\e113";
}
.ico.keyboard_capslock:before {
    content: "\e114";
}
.ico.keyboard_return:before {
    content: "\e116";
}
.ico.keyboard_tab:before {
    content: "\e117";
}
.ico.keyboard_voice:before {
    content: "\e118";
}
.ico.security:before {
    content: "\e125";
}
.ico.adjust:before {
    content: "\e133";
}
.ico.assistant:before {
    content: "\e134";
}
.ico.assistant_photo:before {
    content: "\e135";
}
.ico.blur_circular:before {
    content: "\e137";
}
.ico.brightness_1:before {
    content: "\e13b";
}
.ico.broken_image:before {
    content: "\e142";
}
.ico.camera_alt:before {
    content: "\e145";
}
.ico.control_point:before {
    content: "\e14f";
}
.ico.dehaze:before {
    content: "\e15c";
}
.ico.details:before {
    content: "\e15d";
}
.ico.filter_drama:before {
    content: "\e172";
}
.ico.filter_frames:before {
    content: "\e173";
}
.ico.filter_hdr:before {
    content: "\e174";
}
.ico.filter_tilt_shift:before {
    content: "\e176";
}
.ico.filter_vintage:before {
    content: "\e177";
}
.ico.flash_on:before {
    content: "\e17b";
}
.ico.image:before {
    content: "\e186";
}
.ico.landscape:before {
    content: "\e189";
}
.ico.navigate_before:before {
    content: "\e19a";
}
.ico.navigate_next:before {
    content: "\e19b";
}
.ico.panorama:before {
    content: "\e19d";
}
.ico.panorama_fish_eye:before {
    content: "\e19e";
}
.ico.photo:before {
    content: "\e1a2";
}
.ico.photo_album:before {
    content: "\e1a3";
}
.ico.photo_camera:before {
    content: "\e1a4";
}
.ico.photo_library:before {
    content: "\e1a5";
}
.ico.picture_as_pdf:before {
    content: "\e1a6";
}
.ico.portrait:before {
    content: "\e1a7";
}
.ico.remove_red_eye:before {
    content: "\e1a8";
}
.ico.rotate_left:before {
    content: "\e1aa";
}
.ico.rotate_right:before {
    content: "\e1ab";
}
.ico.slideshow:before {
    content: "\e1ac";
}
.ico.style:before {
    content: "\e1ae";
}
.ico.switch_camera:before {
    content: "\e1af";
}
.ico.tag_faces:before {
    content: "\e1b1";
}
.ico.texture:before {
    content: "\e1b2";
}
.ico.timer:before {
    content: "\e1b6";
}
.ico.timer_off:before {
    content: "\e1b7";
}
.ico.view_comfortable:before {
    content: "\e1bb";
}
.ico.wb_cloudy:before {
    content: "\e1be";
}
.ico.wb_incandescent:before {
    content: "\e1bf";
}
.ico.wb_sunny:before {
    content: "\e1c0";
}
.ico.collections_bookmark:before {
    content: "\e1c1";
}
.ico.photo_size_select_actual:before {
    content: "\e1c2";
}
.ico.beenhere:before {
    content: "\e1c7";
}
.ico.directions_walk:before {
    content: "\e1d0";
}
.ico.layers:before {
    content: "\e1d3";
}
.ico.layers_clear:before {
    content: "\e1d4";
}
.ico.local_library:before {
    content: "\e1e3";
}
.ico.local_see:before {
    content: "\e1ef";
}
.ico.location_history:before {
    content: "\e1f2";
}
.ico.map:before {
    content: "\e1f3";
}
.ico.my_location:before {
    content: "\e1f4";
}
.ico.navigation:before {
    content: "\e1f5";
}
.ico.pin_drop:before {
    content: "\e1f6";
}
.ico.place:before {
    content: "\e1f7";
}
.ico.store_mall_directory:before {
    content: "\e1fb";
}
.ico.terrain:before {
    content: "\e1fc";
}
.ico.apps:before {
    content: "\e1ff";
}
.ico.arrow_back:before {
    content: "\e200";
}
.ico.arrow_drop_down:before {
    content: "\e201";
}
.ico.arrow_drop_down_circle:before {
    content: "\e202";
}
.ico.arrow_drop_up:before {
    content: "\e203";
}
.ico.arrow_forward:before {
    content: "\e204";
}
.ico.cancel:before {
    content: "\e205";
}
.ico.check:before {
    content: "\e206";
}
.ico.chevron_left:before {
    content: "\e207";
}
.ico.chevron_right:before {
    content: "\e208";
}
.ico.close:before {
    content: "\e209";
}
.ico.expand_less:before {
    content: "\e20a";
}
.ico.expand_more:before {
    content: "\e20b";
}
.ico.fullscreen:before {
    content: "\e20c";
}
.ico.fullscreen_exit:before {
    content: "\e20d";
}
.ico.menu:before {
    content: "\e20e";
}
.ico.keyboard_control:before {
    content: "\e20f";
}
.ico.more_vert:before {
    content: "\e210";
}
.ico.refresh:before {
    content: "\e211";
}
.ico.unfold_less:before {
    content: "\e212";
}
.ico.unfold_more:before {
    content: "\e213";
}
.ico.do_not_disturb_alt:before {
    content: "\e217";
}
.ico.do_not_disturb:before {
    content: "\e218";
}
.ico.event_available:before {
    content: "\e21a";
}
.ico.event_busy:before {
    content: "\e21b";
}
.ico.event_note:before {
    content: "\e21c";
}
.ico.folder_special:before {
    content: "\e21d";
}
.ico.mms:before {
    content: "\e21e";
}
.ico.more:before {
    content: "\e21f";
}
.ico.network_locked:before {
    content: "\e220";
}
.ico.sms_failed:before {
    content: "\e22a";
}
.ico.sync:before {
    content: "\e22b";
}
.ico.sync_disabled:before {
    content: "\e22c";
}
.ico.sync_problem:before {
    content: "\e22d";
}
.ico.wc:before {
    content: "\e241";
}
.ico.wifi:before {
    content: "\e242";
}
.ico.domain:before {
    content: "\e244";
}
.ico.group:before {
    content: "\e245";
}
.ico.group_add:before {
    content: "\e246";
}
.ico.location_city:before {
    content: "\e247";
}
.ico.notifications:before {
    content: "\e24a";
}
.ico.notifications_none:before {
    content: "\e24b";
}
.ico.notifications_off:before {
    content: "\e24c";
}
.ico.notifications_active:before {
    content: "\e24d";
}
.ico.notifications_paused:before {
    content: "\e24e";
}
.ico.people:before {
    content: "\e251";
}
.ico.people_outline:before {
    content: "\e252";
}
.ico.person:before {
    content: "\e253";
}
.ico.person_add:before {
    content: "\e254";
}
.ico.person_outline:before {
    content: "\e255";
}
.ico.poll:before {
    content: "\e257";
}
.ico.share:before {
    content: "\e25a";
}
.ico.check_box:before {
    content: "\e25c";
}
.ico.check_box_outline_blank:before {
    content: "\e25d";
}
.ico.radio_button_unchecked:before {
    content: "\e25e";
}
.ico.radio_button_checked:before {
    content: "\e25f";
}
.ico.star:before {
    content: "\e260";
}
.ico.star_half:before {
    content: "\e261";
}
.ico.star_outline:before {
    content: "\e262";
}
.ico.accessibility:before {
    content: "\e264";
}
.ico.account_balance:before {
    content: "\e265";
}
.ico.account_box:before {
    content: "\e267";
}
.ico.account_circle:before {
    content: "\e268";
}
.ico.alarm:before {
    content: "\e26a";
}
.ico.alarm_add:before {
    content: "\e26b";
}
.ico.alarm_off:before {
    content: "\e26c";
}
.ico.alarm_on:before {
    content: "\e26d";
}
.ico.announcement:before {
    content: "\e26f";
}
.ico.assessment:before {
    content: "\e271";
}
.ico.assignment:before {
    content: "\e272";
}
.ico.assignment_ind:before {
    content: "\e273";
}
.ico.assignment_late:before {
    content: "\e274";
}
.ico.assignment_turned_in:before {
    content: "\e277";
}
.ico.backup:before {
    content: "\e279";
}
.ico.bookmark:before {
    content: "\e27b";
}
.ico.bookmark_outline:before {
    content: "\e27c";
}
.ico.bug_report:before {
    content: "\e27d";
}
.ico.build:before {
    content: "\e27e";
}
.ico.change_history:before {
    content: "\e280";
}
.ico.check_circle:before {
    content: "\e281";
}
.ico.delete:before {
    content: "\e287";
}
.ico.description:before {
    content: "\e288";
}
.ico.done:before {
    content: "\e28a";
}
.ico.done_all:before {
    content: "\e28b";
}
.ico.exit_to_app:before {
    content: "\e28d";
}
.ico.face:before {
    content: "\e290";
}
.ico.favorite:before {
    content: "\e291";
}
.ico.favorite_outline:before {
    content: "\e292";
}
.ico.feedback:before {
    content: "\e293";
}
.ico.find_in_page:before {
    content: "\e294";
}
.ico.grade:before {
    content: "\e299";
}
.ico.help:before {
    content: "\e29b";
}
.ico.highlight_remove:before {
    content: "\e29c";
}
.ico.history:before {
    content: "\e29d";
}
.ico.home:before {
    content: "\e29e";
}
.ico.hourglass_empty:before {
    content: "\e29f";
}
.ico.hourglass_full:before {
    content: "\e2a0";
}
.ico.https:before {
    content: "\e2a1";
}
.ico.info:before {
    content: "\e2a2";
}
.ico.info_outline:before {
    content: "\e2a3";
}
.ico.label:before {
    content: "\e2a6";
}
.ico.label_outline:before {
    content: "\e2a7";
}
.ico.language:before {
    content: "\e2a8";
}
.ico.launch:before {
    content: "\e2a9";
}
.ico.list:before {
    content: "\e2aa";
}
.ico.lock:before {
    content: "\e2ab";
}
.ico.lock_open:before {
    content: "\e2ac";
}
.ico.lock_outline:before {
    content: "\e2ad";
}
.ico.note_add:before {
    content: "\e2b0";
}
.ico.open_with:before {
    content: "\e2b3";
}
.ico.pageview:before {
    content: "\e2b4";
}
.ico.perm_contact_calendar:before {
    content: "\e2b7";
}
.ico.power_settings_new:before {
    content: "\e2c0";
}
.ico.print:before {
    content: "\e2c1";
}
.ico.question_answer:before {
    content: "\e2c3";
}
.ico.receipt:before {
    content: "\e2c4";
}
.ico.report_problem:before {
    content: "\e2c6";
}
.ico.schedule:before {
    content: "\e2c9";
}
.ico.search:before {
    content: "\e2ca";
}
.ico.settings:before {
    content: "\e2cb";
}
.ico.settings_applications:before {
    content: "\e2cc";
}
.ico.settings_backup_restore:before {
    content: "\e2cd";
}
.ico.stars:before {
    content: "\e2e2";
}
.ico.store:before {
    content: "\e2e3";
}
.ico.subject:before {
    content: "\e2e4";
}
.ico.supervisor_account:before {
    content: "\e2e5";
}
.ico.swap_horiz:before {
    content: "\e2e6";
}
.ico.swap_vert:before {
    content: "\e2e7";
}
.ico.swap_vertical_circle:before {
    content: "\e2e8";
}
.ico.system_update_alt:before {
    content: "\e2e9";
}
.ico.thumb_down:before {
    content: "\e2ed";
}
.ico.thumb_up:before {
    content: "\e2ee";
}
.ico.toc:before {
    content: "\e2f0";
}
.ico.today:before {
    content: "\e2f1";
}
.ico.trending_down:before {
    content: "\e2f5";
}
.ico.trending_neutral:before {
    content: "\e2f6";
}
.ico.trending_up:before {
    content: "\e2f7";
}
.ico.turned_in:before {
    content: "\e2f8";
}
.ico.turned_in_not:before {
    content: "\e2f9";
}
.ico.verified_user:before {
    content: "\e2fa";
}
.ico.view_agenda:before {
    content: "\e2fb";
}
.ico.view_headline:before {
    content: "\e300";
}
.ico.view_list:before {
    content: "\e301";
}
.ico.view_module:before {
    content: "\e302";
}
.ico.visibility:before {
    content: "\e306";
}
.ico.visibility_off:before {
    content: "\e307";
}
.ico.help_outline:before {
    content: "\e30f";
}
.ico.zoom_in:before {
    content: "\e311";
}
.ico.zoom_out:before {
    content: "\e312";
}
.ico.indeterminate_check_box:before {
    content: "\e319";
}
